/* App.css */
html{
    --imp-text-color: #f76008;
    --imp-background-color: #0d0d0d;
    --imp-background-light-color: #fafeff;
}

/* Contenedor principal que ocupa toda la pantalla */
.bio-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fondo desenfocado */
.bio-background {
    position: absolute; /* Colocamos el fondo detrás del contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--imp-background-color);
    filter: blur(20px); /* Aplicamos el desenfoque solo al fondo */
    z-index: -1; /* Asegura que el fondo esté detrás de la tarjeta */
}

/* Tarjeta centrada */
.bio-card {
    background: var(--imp-background-color);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.705);
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: var(--imp-background-light-color);
    position: relative;
    z-index: 1; 
}

/* Imagen dentro de la tarjeta */
.bio-card-image {
    height: 46vh;
}

.pic-shadow{
    max-width: 400px;
    width: 100%;
  height: 46vh;
  position: absolute;
  box-shadow: inset 0px -28px 15px -12px hsl(0, 0%, 5%);;
  z-index: 1;
}

/* Nombre y descripción */
.bio-card-name {
    margin: 10px 0 5px;
    font-size: 24px;
    font-weight: bold;
}

.bio-card-description {
    font-size: 16px;
    color: #555;
}

/* Enlaces */
.bio-card-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bio-card-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--imp-background-light-color);
    transition: color 0.3s ease;
    margin-inline: 10px;
}

.bio-card-link:hover {
    color: #007bff;
}

/* Contenedor lengua y compartir perfil */
.share-language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.share, .language{
    width: 50%;
}

.share button{
    width: 50px;
    border-radius: 50%;
}

.share{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}